name: Swift

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    strategy:
      matrix:
        os: [macos-14, ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: SwiftyLab/setup-swift@latest
    - uses: actions/checkout@v4
      with:
        submodules: true
    - name: Build
      run: swift build -v
    - name: Run tests
      run: swift test -v
